.container-header {
    height: 100px;
    background-color: linear-gradient(90deg, rgba(5, 237, 227, 1) 0%, rgba(100, 96, 251, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 100px;
}